@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-brazil-green via-brazil-yellow to-brazil-blue;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050505;
  color: #ffffff;
}
